In [7]:
import numpy as np
import pandas as pd
import sqlalchemy

from datetime import datetime
import pytz
import pickle

In [2]:
# ========================================================================================= #
#                           SET DATABASE CONNECTION - LOAD DATA                             #
# ========================================================================================= #

database_username = 'root'
database_password = 'balab'
database_ip       = '172.17.0.7'
database_name     = 'data_hackathon'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password,
                                                      database_ip, database_name))
data = pd.read_sql('select * from data_source',con=database_connection)

In [3]:
data.head()

,TIME_STAMP,ROLL,PITCH,SPEED_VG,SPEED_LG,SPEED_TG,SPEED_LW,REL_WIND_SPEED,REL_WIND_DIR,COURSE_OVER_GROUND,...,SEA_SURFACE_SALINITY,SEA_SURFACE_TEMP,CURRENT_UV,CURRENT_VV,CURRENT_SPEED,CURRENT_DIRECTION,CURRENT_SPEED_SHIP_HEADING,BN,lat,lon
0,2020-01-01T00:00:00.000Z,-0.246,0.097,11.513,11.513,0.007,11.673,19.029,1.803,25.978,...,33.29,27.10,0.04,0.07,0.08,211.15,-0.08,5,3.8683,108.9862
1,2020-01-01T00:10:00.000Z,-0.256,0.097,11.470,11.470,-0.055,11.707,19.072,1.200,26.935,...,33.28,27.11,0.05,0.08,0.09,210.94,-0.09,5,3.8977,109.0008
2,2020-01-01T00:20:00.000Z,-0.225,0.104,11.450,11.450,-0.087,11.670,17.873,0.867,27.317,...,33.28,27.10,0.05,0.08,0.10,211.53,-0.10,5,3.9120,109.0083
3,2020-01-01T00:30:00.000Z,-0.249,0.103,11.856,11.849,-0.160,12.011,18.446,0.328,26.942,...,33.28,27.10,0.06,0.09,0.10,213.21,-0.10,5,3.9558,109.0307
4,2020-01-01T00:40:00.000Z,-0.224,0.088,12.438,12.438,-0.142,12.464,18.939,1.746,25.256,...,33.28,27.09,0.06,0.09,0.11,214.34,-0.11,5,3.9867,109.0453

In [8]:
dt_now = pd.to_datetime(datetime.now(tz=pytz.timezone('Asia/Jakarta')))

In [12]:
if dt_now.minute == 10 :
    print('yes')

In [15]:
df = pd.read_sql(""" SELECT * FROM data_hackathon.data_source ORDER BY TIME_STAMP DESC LIMIT 60""", 
            con=database_connection)# get data last 10 hours

In [25]:
if dt_now.minute == 10:
    print(dt_now.minute)